<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>


<body>
    
 <div class="container">
    <header>
        <div class="logo">
            <a href="/user">
            <h2>TOGETHER</h2>
            <h3>WE CAN!</h3>
            </a>
        </div>

        <div class="topnav">
            <a  href="/edit">Hi, {{username}}</a>
            <a class="active" href="/user">Home</a>
            <a class="login" href="/edit">Profile</a>
            <a class="login" href="/signers">Signers</a>
            <a class="login" href="/thanks">Your Signiture</a>
            <a class="logout" href="/logout">Logout</a>
        </div>
    </header>
    
    <main>
    {{{body}}}
    </main>

    <footer>
       <h6>Copyright 2020 © Together We Save #ANWR. All rights reserved.</h6>
    </footer>
</div>   
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/script.js"></script>
</body>
</html>