

<div class="banner">
   <div class="banner-text">
    <h2>No Oil Drilling in the Arctic Wildlife Refuge</h2>
    <h3>Protect polar bears and the wild life </h3>
        <a href="/register"><button>Join us now and sign the petation</button></a>
    </div>
</div>

<div class="text">
<p>Right now, a company you’ve probably never heard of is lobbying the Department of Interior to speed through environmental impact surveys so they can drill in the Arctic National Wildlife Refuge (ANWR).
     Home to polar bears and caribou, and the Gwich'in Athabascan Native Americans. 
     It’s the last untouched slice of nature in the United States. If there’s an open season on oil and gas in ANWR, 
     it will be yet another instance of public lands being parcelled off by the Trump Administration. 
     Tell the Arctic Slope Regional Corporation to get out of ANWR.</p>
<br/>
<p>In 2017, Arctic Slope spent $590,000 lobbying the federal government to open ANWR up to oil 
    and gas development. Ryan Zinke even appointed one of Arctic Slope’s top executives to a major 
    post at the Department of Interior. Zinke’s office isn’t alone, in 2017 Arctic Slope lobbied the 
    Senate to allow drilling in ANWR’s 1.5 million acre coastal plane. But before oil companies can buy 
    leases, environmental impact surveys have to happen. Under Ryan Zinke, these surveys have been cut to 
    ram the process through as quickly as possible. Lease sales could start as early as 2019!</p>


</div>