
<h2>Please log in.</h2>

<form method="POST">
  <input class = "email" type="text" name="email" placeholder="example@example.com">
  <input class = "password" type="text" name="password" placeholder="password">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    
  <button class = "login" type="submit">LOG IN</button>
</form>
   

{{> error}}