<h1>THis is the main Petation page</h1>



<form method="POST">
  <input class = "signature" type= "hidden" name="signature">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <canvas id="canvas" width="200" height="100"></canvas>
    
  <button class = "submit" type="submit">Submit</button>
</form>
   

{{> error}}