<h1>THis is the main Petation page</h1>



<form method="POST">
  <input class = "first-name" type="text" name="first" placeholder="first name">
  <input class = "last-name" type="text" name="last" placeholder="last name">
  <input class = "signiture" type="hidden" name="signiture">
   <canvas id="canvas" width="700" height="300"></canvas>
  <button class = "submit" type="submit">Submit</button>
</form>

