

<div class="page-container">

  <div class="address">
    <h3>Please add your signiture here to support <span class="orange">#ANWR</span></h3>
  </div>


  <form method="POST">
    <input class = "signature" type= "hidden" name="signature">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="canvas" width="300" height="90"></canvas>
      
    <ul class="form1">
    <li>
      <input type="submit" value="Submit" />
    </li>
  </ul>
    {{!-- <button class = "submit" type="submit">Submit</button> --}}
  </form>
    
</div>

