
<h2>Please complete your profile</h2>

<form method="POST">
  <div>
  <input class = "age" type="text" name="age" placeholder="your age">
  </div>
  <div>
  <input class = "city" type="text" name="city" placeholder="add your city">
  </div>
  <div>
    <input class = "url" type="text" name="url" placeholder="url">
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
    
  <button class = "Continue" type="submit">CONTINUE</button>
</form>
   

{{> error}}