

<div class="address-two">
    <h2>We would appreciate if you can complete your profile.</h2>
</div>

<form method="POST">
<ul class="form1">
    <li>
        <label>Age</label>
        <input type="number" name="age" class="field-long" />
    </li>
    <li>
        <label>City</label>
        <input type="text" name="city" class="field-long" />
    </li>
      <li>
        <label>Social Media Profile/Link</label>
        <input type="text" name="url" class="field-long" placeholder="https://" />
    </li>
        <li>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
      </li>
    <li>
        <input type="submit" value="Ready to sign!" />
    </li>
</ul>
</form>

<div class="error">
{{> error}}
</div>