<h1> Please register to be able to sign the petation</h1>

<form method="POST">
<ul class="form1">
    <li><label>Full Name <span class="required">*</span></label>
    <input type="text" name="first" class="field-divided" placeholder="First" /> 
    <input type="text" name="last" class="field-divided" placeholder="Last" /></li>
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="email" class="field-long" placeholder="example@example.com" />
    </li>
    <li>
        <label>Password <span class="required">*</span></label>
        <input class = "password" type="password" name="password" placeholder="p@$$W0rd">
    </li>
        <li>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
      </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>

{{> error}}

<h3>If you are already a user, please <a href="/login">log in</a></h3>