<h1>THANK YOU!</h1>

<img src="{{sig}}" alt="User-Signiture"/>

<h3>You are one of {{conut}} brave people who signed this Petation!</h3>

<a href="/signers">Click here to see the pravest humans on earth who signed</a>